html {
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}
p {
    font-size: 16px;
    line-height: 1.5;
}

table {
    width: 100%;
}
table tr:nth-child(odd) td{
    background: #F1F1F1;
}
table tr:nth-child(even) td{
    background: #FFFFFF;
}

th {
    background: #CCCCCC;
    color: black;
    text-align: left;
}
table, th, td {
    border: rgb(221, 221, 221);
    padding: 3px;
}

blockquote {
    margin-left: 20px;
    border-left: 4px solid rgb(221,221,221) ;
    font-style: italic;
    text-indent: 10px;
}

.koko {
    text-align: right;
}

