
body {
    background: rgb(238, 238, 238);

}

ul.gallery {
    list-style-type: none;
}

li {
    display: inline-block;
    border-width: 0.4rem;
    border-color: black;
    border-style: solid;
    width: 28%;
    vertical-align: middle;
    margin: 2%;
}

img {
    display: block;
    width: 100%;
}